<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{appName}}</title>
    <link rel="icon" href="https://raw.githubusercontent.com/mziyadam/Beranda/master/profildiri.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <style>
        body {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            padding: 1em;
        }
    </style>
</head>
<script src="https://unpkg.com/vue@3"></script>

<div id="app">

    <body>
        <div v-for="serie in series.slice().reverse()">
            <hr>
            <h1>
                {{ serie.seriesName }}
            </h1>
            <hr>
            <h2 v-for="episode in serie.episodes">
                <a :href="episode.link">
                    {{episode.episode}}
                </a>
            </h2>
            <hr>
        </div>
    </body>
</div>

<script>
    const { createApp } = Vue

    createApp({
        data() {
            return {
                appName: 'Movies',
                series: [
                    {
                        seriesName: 'Stranger Things',
                        episodes: [
                            {
                                episode: "S1 E1",
                                link: "https://youtu.be/saPyrWUfDGc"
                            },
                            {
                                episode: "S1 E2",
                                link: "https://youtu.be/ozJXKapRWu0"
                            },
                            {
                                episode: "S1 E3",
                                link: "https://youtu.be/saPyrWUfDGc"
                            },
                            {
                                episode: "S1 E4",
                                link: "https://youtu.be/tGSW4HmCBGM"
                            },
                            {
                                episode: "S1 E5",
                                link: "https://youtu.be/JvnvqRkvt6Y"
                            },
                            {
                                episode: "S1 E6",
                                link: "https://youtu.be/1Kxxpj3LA2g"
                            },
                            {
                                episode: "S1 E7",
                                link: "https://youtu.be/0JSDK-r8WC0"
                            },
                            {
                                episode: "S1 E8",
                                link: "https://youtu.be/v45rQwZuY8c"
                            },
                            {
                                episode: "S2 E1",
                                link: "https://youtu.be/AiIelN8kziY"
                            },
                            {
                                episode: "S2 E2",
                                link: "https://youtu.be/M3yA4viclzw"
                            },
                            {
                                episode: "S2 E3",
                                link: "https://youtu.be/3YLNhGMm6EU"
                            },
                            {
                                episode: "S2 E4",
                                link: "https://youtu.be/7Iu9ohEpLJk"
                            },
                            {
                                episode: "S2 E5",
                                link: "https://youtu.be/pmyRxiYd1vQ"
                            },
                            {
                                episode: "S2 E6",
                                link: "https://youtu.be/oUqemuUMKoc"
                            },
                            {
                                episode: "S2 E7",
                                link: "https://youtu.be/hIk5bSDvSYQ"
                            },
                            {
                                episode: "S2 E8",
                                link: "https://youtu.be/ctZvMuboiww"
                            },
                            {
                                episode: "S2 E9",
                                link: "https://youtu.be/zfF589_mH28"
                            },
                            {
                                episode: "S3 E1",
                                link: "https://youtu.be/LFemYL67of4"
                            },
                            {
                                episode: "S3 E2",
                                link: "https://youtu.be/PqTX3ZFVw_I"
                            },
                            {
                                episode: "S3 E3",
                                link: "https://youtu.be/sW29NvE-vyk"
                            },
                            {
                                episode: "S3 E4",
                                link: "https://youtu.be/q3-d76dIkMg"
                            },
                            {
                                episode: "S3 E5",
                                link: "https://youtu.be/Gqm3xP6pCTE"
                            },
                            {
                                episode: "S3 E6",
                                link: "https://youtu.be/o02qjDkbCKM"
                            },
                            {
                                episode: "S3 E7",
                                link: "https://youtu.be/y9CIv_26tJE"
                            },
                            {
                                episode: "S3 E8",
                                link: "https://youtu.be/qP3moWCD_Fw"
                            },
                        ]
                    },
                    
                    {
                        seriesName: 'She\'s the Man 2006',
                        episodes: [
                            {
                                episode: "Youtube",
                                link: "https://youtu.be/ZVNSTOmMa9U"
                            },
                        ]
                    },
                    {
                        seriesName: 'Monkey Man 2024',
                        episodes: [
                            {
                                episode: "Youtube",
                                link: "https://youtu.be/uMc1J22hbTc"
                            },
                        ]
                    },

                    {
                        seriesName: 'My Sassy Girl(2022)',
                        episodes: [
                            {
                                episode: "Youtube",
                                link: "https://youtu.be/UEi1NZ9Y7fs"
                            },
                        ]
                    },

{
    seriesName: 'The Butterfly Effect(2004)',
    episodes: [
        {
            episode: "Youtube",
            link: "https://youtu.be/bLcoTySK_vU"
        },
    ]
},

{
    seriesName: 'The Butterfly Effect 2(2006)',
    episodes: [
        {
            episode: "Youtube",
            link: "https://youtu.be/-ugI02Jwwqs"
        },
    ]
},

{
    seriesName: 'The Butterfly Effect 3(2009)',
    episodes: [
        {
            episode: "Youtube",
            link: "https://youtu.be/7B0Il8l1Vy0"
        },
    ]
},

{
    seriesName: 'We Live in Time 360p(2024)',
    episodes: [
        {
            episode: "Youtube",
            link: "https://youtu.be/5lzYgHsG5Ew"
        },
    ]
},

{
    seriesName: 'We Live in Time 720p(2024)',
    episodes: [
        {
            episode: "Youtube",
            link: "https://youtu.be/wsADRoCgBs8"
        },
    ]
},

{
    seriesName: 'The Truman Show',
    episodes: [
        {
            episode: "Youtube",
            link: "https://youtu.be/DkrwJxpvYpk"
        },
    ]
},

{
    seriesName: 'The Terminator (1984)',
    episodes: [
        {
            episode: "Youtube",
            link: "https://youtu.be/G6hPpPPgoog"
        },
    ]
},

{
    seriesName: 'Atonement (2007)',
    episodes: [
        {
            episode: "Youtube",
            link: "https://youtu.be/MNeHQ5j5CCM"
        },
    ]
},

{
    seriesName: 'Lost in Translations (2003)',
    episodes: [
        {
            episode: "Youtube",
            link: "https://youtu.be/teCuN6Lg8bY"
        },
    ]
},

{
    seriesName: 'How to Lose A Guy in 10 Days (2003)',
    episodes: [
        {
            episode: "Youtube",
            link: "https://youtu.be/6B3iUWc_Lfw"
        },
    ]
},

{
    seriesName: '13 Going 30 (2004)',
    episodes: [
        {
            episode: "Youtube",
            link: "https://youtu.be/98sWl_P9VEw"
        },
    ]
},

{
    seriesName: 'About Time (2013)',
    episodes: [
        {
            episode: "Youtube",
            link: "https://youtu.be/4l29Sii4qpA"
        },
    ]
},

{
    seriesName: 'The Curious Case of Benjamin Button (2008)',
    episodes: [
        {
            episode: "Youtube",
            link: "https://youtu.be/9PvBIuavQCE"
        },
    ]
},


{
    seriesName: 'Silence of The Lamb (1991)',
    episodes: [
        {
            episode: "Youtube",
            link: "https://youtu.be/Ui78FbGt8TY"
        },
    ]
},
{
    seriesName: 'The Prestige (2006)',
    episodes: [
        {
            episode: "Youtube",
            link: "https://youtu.be/H7a6D6iwzI4"
        },
    ]
},





                    

                ]

            }
        },

    }).mount('#app')
</script>


</html>